<div class="card-product-price">
  <span id="variant-price" class="price-regular dark-text-white">
    {% comment %} {{ product.price | money }} {% endcomment %}
     {{ product.variants.first.price | money }}
  </span>
  <s id="variant-compare-price" class="price-sale"
     style="{% if product.compare_at_price <= product.price %}display: none;{% endif %}">
    {{ product.compare_at_price | money }}
  </s>
</div>